/* preheader */
.pre-main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.logo-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logo-content ul li {  
  list-style: none;
  text-decoration: none;
}
.logo-content ul li a{
    text-decoration: none;
    margin-right: 10px;
    font-weight: 500;
    /* box-shadow: 0 0 0.1rem #00000067; */
}
.logo-content ul li a:hover{
    color: blueviolet;
    
}
.logo-content ul{
  padding: 0.3rem 0.5rem;
  display: grid;
  flex-direction: row;  
  align-items: center;
}

.supprtnum a:hover{
  color: #000;
}

@media  (max-width: 600px) {
  .textNav, .supprtnum{
display: none;
  }
}
/* preheader */



.head_paragraph .textNav{
  font-size: 1.4rem;
}
@media (max-width:1200px) {
  .head_paragraph .textNav{
  display: none;
}
}